<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Coffee Bot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='img/logo-fti-png-2.png') }}" alt="Logo" class="about-logo">
        <br>
        <h2>About Coffee Bot</h2>
        <p>Halo, nama saya Vaness Chen, saya adalah mahasiswa dari Universitas Tarumanagara, Fakultas Teknologi Informasi, Teknik Informatika.</p>
        <p>Selamat Datang di Coffee Bot, di mana anda dapat menanyakan berbagai pertanyaan tentang kopi.</p>
        <p>Chatbot ini dibuat dengan base model BERT bernama Rifky IndoBERT-QA, yang di fine-tuning dengan dataset format SQUAD dengan isi kumpulan pertanyaan dan jawaban sebanyak 275.</p>
        <h2>Yang berkontribusi dalam pembuatan program ini:</h2>
        <ul>
            <li>Vaness Chen (535200052)</li>
            <li>Viny Christanti Mawardi S.Kom., M.Kom.</li>
            <li>Manatap Dolok Lauro S.Kom., M.M.S.I.</li>
        </ul>
        <h2>Kontak</h2>
        <p>Email : vaness.535200052@stu.untar.ac.id</p>
        <br>
        <a href="/" class="about-link">Kembali</a>
    </div>
</body>
</html>
